@charset "UTF-8";

:root {
    --light-bg: #fff; /* Fundo claro */
    --dark-bg: #28292c;  /* Fundo escuro */
    --light-text: #000;  /* Texto escuro para fundo claro */
    --dark-text: #fff; /* Texto claro para fundo escuro */
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
  background-color: var(--light-bg); /* Fundo claro por padrão */
  color: var(--light-text); /* Texto escuro por padrão */
  font-family: Arial, sans-serif;
}

#top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--light-bg);
    margin-left: 18%; /* Margem para não sobrepor a sidebar */
    height: 80px;
    position: fixed; /* Fixar a barra superior no topo */
    top: 0;
    left: 0;
    width: 82%; /* Espaço restante ao lado da sidebar */
    z-index: 2; /* Garantir que a barra superior esteja acima da sidebar */
}

.search-container {
    display: flex;
    align-items: center;
    border: 2px solid #cccccc5f;
    border-radius: 8px;
    padding: 10px 10px;
    width: 550px;
    margin-left: 20px;
}

.search-input::placeholder {
    opacity: 0.5;
}

.search-input {
    border: none;
    outline: none;
    flex: 1;
    padding: 5px;
    font-size: 16px;
}

/* Ajuste para o Toggle Switch */
.toggle-switch {
    position: relative;
    width: 50px; /* Ajuste de largura */
    height: 24px; /* Ajuste de altura */
    margin-right: 20px;
}

.toggle-switch label {
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--dark-bg); /* Fundo escuro por padrão */
    border-radius: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-switch input {
    display: none;
}

.toggle-switch .slider {
    position: relative;
    background-color: var(--light-bg); /* Fundo claro da bolinha */
    width: 100%;
    height: 100%;
    border-radius: 24px;
    transition: 0.3s;
}

.toggle-switch .slider::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: white; /* Cor da lua (branca) */
    border-radius: 50%;
    top: 3px;
    left: 3px;
    box-shadow: inset 4px -4px 0px 0px var(--dark-bg); /* Criando o efeito de lua */
    transition: 0.3s;
}

.toggle-switch input:checked + .slider {
    background-color: var(--dark-bg); /* Fundo do círculo externo preto no modo claro */
}

.toggle-switch input:checked + .slider::before {
    transform: translateX(26px);
    background-color: white; /* A bolinha continua branca no modo claro */
    box-shadow: inset 4px -4px 0px 0px black; /* A sombra para criar o efeito de lua continua preta */
}


#notifications {
    margin-right: 10px;
}

#profile {
    background-color: #6b1bc6;
    padding: 7px 10px;
    width: 240px;
    margin-right: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

#profile > span.name {
    color: var(--light-text); /* Texto do perfil */
    font-size: 14px;
    font-weight: lighter;
    text-align: left;
}

#profile > span#dropdown {
    margin-right: 10px;
    color: var(--light-text); /* Texto do perfil */
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.308);
    margin-right: 10px;
}

div#top-image {
    background-image: url('../../img/logoescrita-white.svg');
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    height: 70px;
    background-color: #6b1bc6;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

menu#side-bar-left {
    background-color: var(--light-bg); /* Fundo claro por padrão */
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; /* Ocupa toda a altura da página */
    width: 18%; /* Largura da sidebar */
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.104);
    z-index: 1; /* Certificar que a sidebar está acima de outros elementos */
}

#side-bar-left div#menu-buttons {
    position: relative; 
    top: 2%; /* Ajustar a margem interna da sidebar */
    margin: auto;
    margin-left: 15px;
    width: 200px;
}

#menu-buttons {
    margin-top: 100px; /* Distância do topo da sidebar */
    left: 10px;
    width: 300px;
    align-items: center;
}

#menu-buttons button {
    margin: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: var(--light-bg); /* Fundo claro por padrão */
    color: #6b1bc6;
    text-align: left;
    font-size: 15px;
    cursor: pointer;
    align-items: center;    
}

#menu-buttons button:hover {
    background-color: #6b1bc6;
    color: white;
}

hr {
    width: 90%;
    margin-left: auto;
    border-color: #cccccc43;
}

#bottom-color {
    position: absolute; 
    top: 663px; 
    padding: 20px;
    height:40px;
    width: 100%;
    background-color: #6b1bc6;
}

iframe {
    display: none;
    width: 100%;
    height: 100%;
    border: none;
}

iframe.active {
    display: block;
}
