@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
}

.sidebar{
    background-color: #ffffff;
    height: 100%;
    width: 18.5%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.334);
    border-radius: 0px 10px 0px 0px;
}

.sidebar > div.logo-opc > img{
    padding: 20px;
    width: 100%;
    background-color: #6b1bc6;
    border-radius: 0px 10px 10px 0px;
}

hr{
    width: 200px;
    margin: 10px auto;
}

.option{
    color: #6b1bc6;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px 20px; /* Ajusta o espaçamento interno */
    width: 90%; /* Para controlar o tamanho do botão */
    justify-content: start; /* Alinha conteúdo à esquerda */
}

.option > p{
    margin: 0; /* Remover margens extras */
    font-size: 12pt;
}

.option > span{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
    font-size: 1.5em; /* Ajuste o tamanho do ícone, se necessário */
}


.option:hover{
    background-color: #6b1bc6;
    color: white;
}

section.home{
    width: 81.5%;
    height: 100%;
}

#bottom-color {
    position: absolute; 
    top: 663px; 
    padding: 18px;
    width: 284px;
    background-color: #6b1bc6;
}

header{
    width: 100%;
    height: 13%;
    display: flex;
}

div.cont-imput{
    position: relative;
    padding-top: 40px;
    padding-left: 30px;
}

div.cont-imput > span{
    position: absolute;
    left: 50px;
    top: 68%;
    transform: translateY(-50%);
    color: #6b1bc6;
}

div.cont-imput > input{
    width: 600px;
    height: 60px;
    border-radius: 8px;
    border: 2px solid rgba(128, 128, 128, 0.314);
    padding-left: 60px;
}

div.cont-imput input:hover{
    border: 3px solid #6b1bc674;
}

div.cont-imput input:focus{
    border: 3px solid #6b1bc6b4;
    outline: none;
}

div.cont-imput input::placeholder{
    color: rgba(128, 128, 128, 0.474);
}

section.home{
    width: 81.5%;
    height: 100%;
}

div.iframe{
    width: 100%;
    height: 87%;
    
}

iframe{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

div.cont-botao{
    padding-top: 35px;
    width: 10%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-self: center;
}

#toggleBt{
    background-color: rgb(180, 179, 179);
    width: 60px;
    height: 30px;
    border-radius: 15px;
    align-self: center;
    position: relative;
    transition: background-color 0.3s ease;
}
 
#toggle{
    background-color: white;
    border-radius: 50%;
    width: 28px;
    height: 26px;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.3s ease;
}

#toggleBt.active{
    background-color: #6b1bc6;
    justify-content: flex-end;
}

#toggleBt.active #toggle{
    left: calc(100% - 30px);
}

#notIcon{
    width: 1.5vw;
}

#paintIcon{
    width: 90%;
    height: 90%;
}

div.cont-sino{
    padding-top: 55px;
    padding-left: 15px;
    color: #6b1bc6;
    cursor: pointer;
}

div.user-profile{
    position: relative;
    margin-top: 30px;
    margin-left: 50px;
    width: 250px;
    height: 70px;
    background-color: #6b1bc6;
    border-radius: 10px;
    border: 2px solid #cbabf0;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.245);
}

div.user-profile > img{
    width: 45px;
    height: 45px;
    margin-top: 10px;
    border-radius: 5px;
    margin-left: 20px;
}

div.user-profile > p{
    display: inline-block;
    color: white;
    margin-left: 10px;
    position: absolute;
    top: 19%;
    left: 30%;
    font-size: 0.8em;
}


div.user-profile > span{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: white;
    cursor: pointer;
}

div.user-profile > span:hover{
    color: #cbabf0;
}