@charset "UTF-8";

/* Tablet devices (768px to 992px) */
@media screen and (min-width: 768px) and (max-width: 992px) {

    div.login-form {
        width: 80vw;
        padding: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    div.login-form .logo {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }

    div.login-form .logo img {
        height: 50px;
        width: 50px;
        margin-right: 10px;
    }

    div.login-form .logo h1 {
        font-size: 1.5rem;
        margin: 0; /* Ensure there is no extra margin */
    }

    div.login-form .form-container {
        flex: 1;
        text-align: left;
    }

    div.login-form .campo input {
        font-size: 1rem;
        padding: 12px;
    }

    div.login-form input[type="submit"] {
        font-size: 1.2rem;
    }
}

/* Large devices (992px and above) */
@media screen and (min-width: 992px) {

    div.login-form {
        width: 950px;
        padding: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    div.login-form .logo {
        display: flex;
        align-items: center;
        margin-right: 40px;
    }

    div.login-form .logo img {
        height: 60px;
        width: 60px;
        margin-right: 10px;
    }

    div.login-form .logo h1 {
        font-size: 2rem;
        margin: 0; /* Ensure there is no extra margin */
    }

    div.login-form .form-container {
        flex: 2;
        text-align: left;
    }

    div.login-form .campo input {
        font-size: 1.1rem;
        padding: 15px;
    }

    div.login-form input[type="submit"] {
        font-size: 1.3rem;
        padding: 12px;
    }

    /* Adjustments for better spacing and alignment */
    section#login > div#imagem {
        width: 30%;
        height: auto;
    }

    section#login > div#formulario {
        width: 70%;
        padding-left: 40px;
    }
}
