@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Reset Básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden; /* Remove o scroll vertical também */
}

main {
    height: 100vh;
    width: 100vw;
}

section#login {
    width: 100%;
    height: 100%;
}

section#onion {
    display: none; /* Oculta o carrossel por padrão */
}

div#form {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.logo {
    text-align: center;
}

div.logo > img {
    width: 80%;
    padding-top: 65px;
    padding-bottom: 40px;
}

div.logo-forlogic > img {
    width: 300px;
    margin: 0 auto;
    display: block;
    margin-top: 100px;
}

div.logo > p {
    font-weight: 600;
    padding-bottom: 20px;
}

div.logo > hr {
    width: 230px;
    margin: 0 auto;
}

div.form {
    padding-top: 40px;
}

.p {
    padding: 10px;
    margin-left: 20px;
    font-weight: 600;
}

div.form p.p {
    text-indent: 3%;
    margin-bottom: 5px;
}

div#name-email {
    padding-top: 80px;
}

div.conteiner-input {
    position: relative;
    width: 95%;
    margin: 0 auto;
}

div.conteiner-input input {
    width: 100%;
    height: 70px;
    border: 2px solid rgba(128, 128, 128, 0.314);
    border-radius: 8px;
    padding-left: 60px;
}

div.conteiner-input input:hover {
    border: 3px solid #6b1bc674;
}

div.conteiner-input input:focus {
    border: 3px solid #6b1bc6b4;
    outline: none;
}

div.conteiner-input span.material-symbols-outlined {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: #6b1bc6;
}

p.inp {
    text-align: center;
}

div.conteiner-input input::placeholder {
    color: rgba(128, 128, 128, 0.474);
}

div.forgot-password {
    width: 94%;
    margin: 0 auto;
    text-align: right;
    padding-bottom: 60px;
}

div.forgot-password > p {
    color: #6b1bc6;
    font-size: 1em;
}

div.forgot-password > p > a:hover {
    font-weight: bold;
}

input[type="button"] {
    display: block;
    margin: auto;
    background-color: #6b1bc6;
    width: 40%;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bolder;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.393);
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #7f42c4;
}

/* Ajustes para dispositivos móveis */
@media screen and (max-width: 767px) {
    section#onion {
        display: none; /* Oculta o carrossel em dispositivos móveis menores */
    }
}

/* Ajustes para tablets e maiores */
@media screen and (min-width: 768px) and (max-width: 991px) {
    section#onion {
        display: block; /* Mostra o carrossel em tablets */
    }
}

/* Ajustes para desktops e maiores */
@media screen and (min-width: 992px) {
    section#onion {
        display: block; /* Mostra o carrossel em desktops e maiores */
    }

    main {
        display: flex;
    }

   /* Ajustando as cores da navegação manual com base no input selecionado */
    input#radio1:checked ~ .navegacao-manual label.btn-manual:nth-child(1),
    input#radio2:checked ~ .navegacao-manual label.btn-manual:nth-child(2),
    input#radio3:checked ~ .navegacao-manual label.btn-manual:nth-child(3),
    input#radio4:checked ~ .navegacao-manual label.btn-manual:nth-child(4) {
        background-color: black;
    }

    input#radio1:checked ~ .navegacao-manual label.btn-manual:nth-child(n+2),
    input#radio2:checked ~ .navegacao-manual label.btn-manual:nth-child(n+1),
    input#radio2:checked ~ .navegacao-manual label.btn-manual:nth-child(n+3),
    input#radio3:checked ~ .navegacao-manual label.btn-manual:nth-child(n+1),
    input#radio3:checked ~ .navegacao-manual label.btn-manual:nth-child(n+4),
    input#radio4:checked ~ .navegacao-manual label.btn-manual:nth-child(n+1) {
        background-color: rgba(128, 128, 128, 0.314);
    }

    /* Fundo preto para a navegação manual (marcadores) */
    label.btn-manual {
        transition: background-color 0.5s ease-in-out;
    }

    section#login {
        width: 50%;
    }

    section#onion {
        display: block;
        width: 60%;
    }

    div#form {
        width: 40%;
        height: 90%;
        left: 25%;
        border-radius: 20px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.347);
    }

    div#name-email {
        padding-top: 40px;
    }

    div.carousel {
        margin-top: -10%;
        margin-left: 15%;
        width: 70%;
        height: 70%;
        overflow: hidden;
    }

    div.slides {
        width: 400%;
        height: 85%;
        display: flex;
    }

    div.slides input {
        display: none;
    }

    div.slides {
        text-align: center;
        width: 25%;
        position: relative;
        font-weight: 500;
        font-style: italic;
    }

    div.slides img {
        padding-top: 100px;
        width: 70%;
    }
}
